<div class="accordion_container">
  
  {% for block in section.blocks %}

					{% capture blockTitle %}
						<div class="accordion_head">{{block.settings.title}}<span class="plusminus">+</span></div>
					{% endcapture %}
              
					{%- case block.type -%}
						{% when 'descriptions' %}
							{{blockTitle}}
							<div class="accordion_body rte" style="display:none;">{{ product.description }}</div>
						{% when 'review' %}
							{{blockTitle}}
							<div id="tab{{block.id}}" class="{{tabClass}} reviewtab"><div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div></div>
						{% when 'custom' %}
							{{blockTitle}}
							<div class="accordion_body" style="display:none;">{{block.settings.content}}</div>
						{% when 'metafields' %}
							{%- assign meta = product.metafields.meta -%}
							{%- assign key = block.settings.key -%}
							{%- if meta[block.settings.key] != blank or block.settings.content != blank -%}
								{{blockTitle}}
								<div class="accordion_body" style="display: none;">
                                  {%- if meta[block.settings.key] != blank -%}{{meta[block.settings.key]}}{%- else -%}{{block.settings.content}}{%- endif -%}
  								</div>
							{%- endif -%}
					{%- endcase -%}
				{% endfor %}
  
  {% comment %}
  
    		<div class="accordion_head">DESCRIPTION<span class="plusminus">+</span></div>
			<div class="accordion_body" style="display: none;">
			{{ product.description }}              
			</div>
  
		<div class="accordion_head">SHIPPING + PROCESSING<span class="plusminus">+</span></div>
			<div class="accordion_body" style="display: none;">
			<h5>PROCESSING TIME</h5>
<p>In stock items will ship within 3 business days. Most &quot;Custom made for you&quot; pieces are estimated to require 10-15 days for production, others require anywhere from 5-8 weeks if need to backorder (this information is specified under the general product description individually found under each product page). All pieces have their production time listed, so be sure to check the product page description. If your order is a rush, you can add the additional charge, and to confirm lead time please email&nbsp;<a href="mailto:info@770finejewelry.com" aria-describedby="a11y-external-message">info@770finejewelry.com</a>&nbsp;and we will let you know if your request can be accommodated. Please note the shipping method selected does not expedite your order's production time, SHIPPING TIME AND PRODUCTION TIME ARE COMPLETELY INDEPENDENT OF ONE ANOTHER.</p>
<h5>SHIPPING</h5>
<p>Once your piece is complete, we will email you with tracking information. This includes UPS tracking that should reflect your method of shipment requested at checkout</p>
              
              
			</div>
		<div class="accordion_head">FINAL SALE POLICY<span class="plusminus">+</span></div>
			<div class="accordion_body" style="display: none;">
			
              
             <h5>PURCHASES ARE FINAL</h5>
<p>All purchases are final. If you are unsure of your size or have questions about our pieces, feel free to email or chat with the 770 team who can guide you in the right direction!</p>
<p>If there is a manufacturing defect upon receipt of your order,&nbsp;please email&nbsp;<a href="mailto:info@770finejewelry.com" aria-describedby="a11y-external-message">info@770finejewelry.com</a>&nbsp;within&nbsp;15 days&nbsp;days of delivery for a replacement.&nbsp;Your item must be unused and in its original packaging. We reserve the right to refuse any replacement requests if we believe the items are intentionally damaged or misused.&nbsp;If applicable, a refund may be approved by the 770 Team due to a manufacturing defect.</p>
<h5>RESIZING + REPAIRS</h5>
<p>Gifted or purchased the wrong ring size? We've got&nbsp;resizing&nbsp;for that!</p>
<p>If you damage your 770 piece, we will be happy to repair it for an additional charge plus shipping &amp; handling. Please email&nbsp;<a href="mailto:info@770finejewelry.com" aria-describedby="a11y-external-message">info@770finejewelry.com</a>&nbsp;for assistance and more information.</p> 
              
              
              
			</div>
		<div class="accordion_head">LEAD TIME + CARE<span class="plusminus">+</span></div>
			<div class="accordion_body" style="display: none;">
			<h5>CARE:</h5>
<p>Fine Jewelry is delicate and should be cared for accordingly. To extend the life of your jewelry, please follow these care instructions:</p>
<p>- No need to take off your jewelry before your daily rituals such as - showering, applying lotion, perfume, exercising, washing dishes, etc. if all of these are done with caution. We recommend removing certain pieces for working out to avoid harsh scratches.<br />
  - Before bedtime, lay your jewelry out flat on a fabric surface to avoid tangling and/or scratching.<br />
  - To clean your jewelry, use a soft toothbrush with dish soap and gently scrub the metal and diamonds. We do not suggest an ultrasonic cleaner.<br />
  - Do not clean any semi precious gemstones or pearls with chemicals, abrasives, or solvents.<br />
</p>
<h5>LEAD TIME:</h5>
<p>Some items may be in stock and available to ship immediately. Other pieces might be in production which speeds up delivery time if pieces are not readily in stock. If the item is not in stock, please allow 5-8 weeks for delivery.</p>
<p>To confirm lead times on a particular item, please contact our customer service team,&nbsp;<a href="mailto:info@770finejewelry.com" aria-describedby="a11y-external-message">info@770finejewelry.com</a>.</p>
			</div>
 {% endcomment %}
	</div>
<style>

.accordion_head{
    cursor: pointer;
	padding: 12px;
    border-bottom: 1px solid #f0f0f0;
    font-weight: 700;
    color: #000;
}
.accordion_body {
	padding: 18px 5px;
	margin: 0px;
}
.plusminus{
	float:right;
}
</style>