<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="facebook-domain-verification" content="vjsli8n4kvi75sdmw0ylxfgr83owik" />
  <!-- Global site tag (gtag.js) - Google Ads: 696221641 --> <script async src="https://www.googletagmanager.com/gtag/js?id=AW-696221641"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-696221641'); </script>

  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-THWCJNH');</script>
<!-- End Google Tag Manager -->
  
  <link rel="canonical" href="{{ canonical_url }}">

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {{ page_title }}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {% include 'social-meta-tags' %}

  {% include 'css-variables' %}

  <!--[if lt IE 9]>{{ 'html5shiv.min.js' | asset_url | script_tag }}<![endif]-->
  {{ 'theme.css' | asset_url | stylesheet_tag }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
    {{ 'stylesheet.css' | asset_url | stylesheet_tag }}  
  	{{ 'custom-fonts.css' | asset_url | stylesheet_tag }}  
    {{ 'stellarnav.css' | asset_url | stylesheet_tag }}
  {{ 'jquery.fancybox.min.css' | asset_url | stylesheet_tag }}
  {{ 'bootstrap.css' | asset_url | stylesheet_tag }}
  {{ 'responsive.css' | asset_url | stylesheet_tag }}
  {% include 'buddha-megamenu' %}
  {{ content_for_header }}

{% include 'globo.formbuilder.scripts' %}
<!-- BEGIN XO GALLERY -->
  {% include "xo-gallery" %}
  {% if template contains 'product' %} {% for image in product.images limit:3 %} <meta property="product-image" content="http:{{ image.src | product_img_url: 'grande' }}"> {% endfor %} {% endif %}
  <!-- END XO GALLERY -->{% include 'nerdy-form-builder' %}
{% include 'hulk_po_vd.liquid' %}{% include 'hulk_po_vd' %}</head>
<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }} {{ settings.color_primary }}">
  
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-THWCJNH"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

  
<script>(function(){ var s = document.createElement('script'), e = ! document.body ? document.querySelector('head') : document.body; s.src = 'https://acsbapp.com/apps/app/dist/js/app.js'; s.async = true; s.onload = function(){ acsbJS.init({ statementLink : '', footerHtml : '', hideMobile : false, hideTrigger : false, language : 'en', position : 'left', leadColor : '#146ff8', triggerColor : '#000000', triggerRadius : '50%', triggerPositionX : 'right', triggerPositionY : 'bottom', triggerIcon : 'people', triggerSize : 'medium', triggerOffsetX : 20, triggerOffsetY : 20, mobile : { triggerSize : 'small', triggerPositionX : 'right', triggerPositionY : 'center', triggerOffsetX : 10, triggerOffsetY : 0, triggerRadius : '50%' } }); }; e.appendChild(s);}());</script>  
        
  {% section 'header' %}
  
  {{ content_for_layout }}
  
  {% section 'footer' %}

  {{ 'jquery-min.js' | asset_url | script_tag }}
  {{ 'popper.min.js' | asset_url | script_tag }}
  {{ 'bootstrap.min.js' | asset_url | script_tag }}
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {{ 'ie10-viewport-bug-workaround.js' | asset_url | script_tag }}
  {{ 'ie-emulation-modes-warning.js' | asset_url | script_tag }}
  {{ 'stellarnav.js' | asset_url | script_tag }}
  {{ 'jquery.fancybox.min.js' | asset_url | script_tag }}
  {{ 'owl.carousel.js' | asset_url | script_tag }}
  {{ 'jquery.matchHeight-min.js' | asset_url | script_tag }}
  {{ 'custom.js' | asset_url | script_tag }}

   <script>
         jQuery('.coleql_height').matchHeight();
            jQuery(document).ready(function ($) {
                jQuery('.stellarnav').stellarNav({
                    theme: 'light',
                    breakpoint: 991,
                    position: 'right',
                });
            });
  </script>
  <script>
    Shopify.money_format = {{ shop.money_format | json }}
  </script>
  <script>
  jQuery(document).ready(function(){
	//toggle the component with class accordion_body
	jQuery(".accordion_head").click(function(){
      	var tab = jQuery(this);
		if (jQuery('.accordion_body').is(':visible')){
			jQuery(".accordion_body").slideUp(300);
			jQuery(".plusminus").text('+');
		}
        if( jQuery(this).next(".accordion_body").is(':visible')){
            jQuery(this).next(".accordion_body").slideUp(300);
            jQuery(this).children(".plusminus").text('+');
        }else {
            jQuery(this).next(".accordion_body").slideDown(300);
            jQuery(this).children(".plusminus").text('-');
        }
		setTimeout(function() {
			var tabposition = tab.offset();
        	jQuery("html, body").animate({ scrollTop: tabposition.top }, 500);
		},300);
      	
	});
});
</script>
  
  {% capture the_snippet_content %}{% render 'socialshopwave-helper' %}{% endcapture %}
    {% unless the_snippet_content contains 'Liquid error' %}
    {{ the_snippet_content }}
    {% endunless %}
  {% comment %}
  <script>
    let hulk_flag = 0;
      $(document).on('click','.hulkapps_submit_cart',function(e){
        
        if (hulk_flag == 0) {
          e.preventDefault();
          var res = true;
         
          if (validate_options(window.hulkapps.product_id)) {
            $("[name^='properties']").each(function () {
              if ($(this).val() == '') {
                $(this).attr('disabled', true);
              }
            });
            hulk_flag = 1;
            $('.hulkapps_submit_cart').click();
            if (hulk_flag == 1) {
              $("[name^='properties']").each(function () {
                if ($(this).val() == '') {
                  $(this).attr('disabled', false);
                }
              });
              hulk_flag = 0;
            }
          }else{
            
          }
        }

      });
  </script>
  {% endcomment %}
</body>
</html>
