<div class="container">
  <div class="section-block category-list">
    {% if section.settings.heading != blank %}
    <div class="title text-center mb-2"><h2>{{ section.settings.heading | escape }}</h2></div>
    {% endif %}
    <div class="row">
      {% for block in section.blocks %}
      {%- assign collection = collections[block.settings.collection] -%}
      <div class="col-6 col-sm-6 col-md-3 mt-4">
        <a href="{{ collection.url | default: '#' }}" class="d-block">
          <span>{{ collection.title | default: default_label }}<strong>Shop Now</strong></span>
          {% if collection.image != blank or collection.products.first != blank %}
          {%- assign image_object = collection.image | default: collection.products.first.featured_image -%}
          <img
               src="{{ image_object | img_url: 'master' }}"
               alt="{{ image_object.alt | escape }}"
               class="img-crop" data-crop-image-ratio="1.07" />
          {% elsif collection == empty %}
          {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
          {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg bg-light mb-3' }}
          {% endif %}             
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Collection list",
    "tag": "div",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading text",
        "default": "Collection list"
      },
      {
        "type": "richtext",
        "id": "subheading",
        "label": "Subheading text",
        "default": "<p>Write something catchy here</p>"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "label": "Collection",
            "id": "collection",
            "type": "collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection list",
        "category": "Collection"
      }
    ]
  }
{% endschema %}