{% assign products_list = collections[section.settings.collection].products %}
   <div class="container">
    <div class="section-block">
    {% if section.settings.heading != blank %}
    <div class="title text-center mb-5"><h2>{{ section.settings.heading | escape }}</h2></div>
    {% endif %}
    <div class="owl-carousel owl-theme CarouselOwl">
         {% for product in products_list limit: section.settings.limit %}
        <div class="item">
         <div class="product-box">
           {% include 'product_badges' %}
            <div class="embed-responsive embed-responsive-1by1">
               <a href="{{ product.url }}"><img
                src="{{ product.featured_image | img_url: 'master' }}"
                alt="{{ product.featured_image.alt | escape }}"
               >
              </a>
            </div>
            <div class="pt-4">
              <p><a href="{{ product.url }}">{{ product.title | escape }}</a></p>
              <span>
                {% if product.compare_at_price > product.price %}
                  <s class="text-muted opacity-75 mr-1">{{ product.compare_at_price | money }}</s>
                  {% if product.price_varies %}
                    {%- assign sale_price = product.price | money -%}
                    {{ 'product.on_sale_from_html' | t: price: sale_price }}
                  {% else %}
                    {{ 'product.on_sale' | t }}
                    {{ product.price | money }}
                  {% endif %}
                {% else %}
                  {% if product.price_varies %}
                    {%- assign price = product.price | money -%}
                    {{ 'product.from_text_html' | t: price: price }}
                  {% else %}
                    {{ product.price | money }}
                  {% endif %}
                {% endif %}
              </span>
            </div>
          </div>
        </div>
         {% endfor %}
      </div>
  </div>
</div>

{% schema %}
  {
    "name": "Featured collection",
    "tag": "div",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading text",
        "default": "Featured collection"
      },
      {
        "type": "richtext",
        "id": "subheading",
        "label": "Subheading text",
        "default": "<p>Write something catchy here.</p>"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      },
      {
        "type": "range",
        "id": "limit",
        "min": 2,
        "max": 24,
        "step": 1,
        "label": "Total products to display",
        "default": 4
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}