<div class="container">

  <div class="section-block page-header" style="background: none; display:none">
    <h1>{{ product.title }}</h1>
  </div>
   
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
  {% assign image_size = section.settings.image_width | append: 'x' | append: section.settings.image_height %}
  {% assign gallery_image_size = section.settings.gallery_image_width | append: 'x' | append: section.settings.gallery_image_height %}
  {% assign modal_image_size = section.settings.modal_image_width | append: 'x' | append: section.settings.modal_image_height %}

  <div class="section-block">
    <div class="row">
      <div class="col-md-6">
        {% if product.metafields.my_fields.international %}
      	<div class="intIco"><img src="{{'airline.png' | asset_img_url: 'master'}}" /></div>
        {% endif %}
        {% include 'product_badges' %}
        <div id="custCarousel" class="carousel product-image-wrapper slide" data-ride="carousel" align="center">
          <div class="product-main-image__wrapper {% if product.images.size > 1 %}has-thumb{% endif %}">
            <div class="carousel-inner">
              {% for image in product.images %}
              {%- assign imgNo = forloop.index0 -%}
              <div class="carousel-item primgthumb {% if forloop.first == true %} active {% endif %}" data-index="{{imgNo}}" data-img="{{ image.src | img_url: "master" }}" data-size="{{image.width}}x{{image.height}}"> 
                <img src="{{ image.src | img_url: 'master' }}" alt="{{ image.alt | escape }}" />
              </div>
              {% endfor %}
            </div>
            <!-- Left right --> 
            <a class="carousel-control-prev" href="#custCarousel" data-slide="prev"> <span class="carousel-control-prev-icon"></span> </a>
            <a class="carousel-control-next" href="#custCarousel" data-slide="next"> <span class="carousel-control-next-icon"></span> </a> 
          </div>
          <!-- Thumbnails -->
          {% if product.images.size > 1 %}
            <ol class="carousel-indicators list-inline product-thumbnail-images">
              {% for image in product.images %}
              <li class="list-inline-item {% if forloop.first == true %} active {% endif %} product-thumnail-single-image">
                <a id="carousel-selector-{{ forloop.index0 }}" {% if forloop.first == true %}class="selected" {% endif %} data-slide-to="{{ forloop.index0 }}" data-target="#custCarousel"> 
                  <img src="{{ image.src | img_url: 'master' }}" alt="{{ image.alt | escape }}" class="img-fluid" />
                </a> 
              </li>
              {% endfor %}
            </ol>
          {% endif %}
          <!-- slides -->
        </div>
        <div><br><br><br><br><br></div>
      </div>
      <div class="col-md-6">
 
        <h1>{{ product.title }}</h1>

        {% if section.settings.show_vendor %}
        <p>{{ product.vendor }}</p>
        {% endif %}

        {% form 'product', product, class: 'mb-3' %}

          <div class="product-price mb-3" style="{{ settings.color_price | prepend: 'color: ' }}">
            {% if product.compare_at_price_max > product.price %}
            <span class="sr-only">{%if product.handle == 'add-on'%}from $110.00{%elsif product.handle == 'repair'%}from $20.00{%else%}{{ 'product.regular_price' | t }}{%endif%}</span>
            {% if current_variant.compare_at_price > current_variant.price %}
            <s class="text-muted opacity-75 mr-2">
              {{ current_variant.compare_at_price | money }}
            </s>
            {% endif %}
            {% endif %}
            <span>
              {%if product.handle == 'add-on'%}from $110.00{%elsif product.handle == 'repair'%}from $20.00{%else%}{{ current_variant.price | money }}{%endif%}
            </span>
          </div>
          <div style="display:block;">
          {{ form | payment_terms }}
          </div>
          <div class="py-3">
            {% if product.options.size >= 1 %}
              {% for product_option in product.options_with_values %}
                {%unless product_option.name == 'Title' %}
                  <label style="width:100%;">
                    {{ product_option.name }}
                    <select style="margin-top:.5em;" class="single-option-selector" data-option="option{{product_option.position}}" id="product-page-variant-select-option-{{product_option.position }}">>
                      {% for value in product_option.values %}
                        <option {% if product_option.selected_value == value %}selected{% endif %}>{{ value | replace:"' '",'"'}}</option>
                      {% endfor %}
                    </select>
                  </label>
                {%endunless%}
              {% endfor %}
            {% endif %}
            <select name="id" id="product-page-variant-select" class="custom-select mb-3 {% if product.has_only_default_variant %}d-none{% endif %}" style="display:none;">
              {% for variant in product.variants %}
              <option data-available="{{variant.available}}" data-price="{{variant.price}}" value="{{ variant.id }}">{{ variant.title | replace:"' '",'"'}}</option>
              {% endfor %}
            </select>

            <hr class="mt-4 mb-3 {% if product.has_only_default_variant %}d-none{% endif %}">

            <div class="d-flex justify-content-center add-to-cart-button-wrapper">
              <input type="number" class="form-control w-auto mr-2" style="max-width: 80px;" size="20" name="quantity" value="1" min="1" aria-label="{{ 'product.quantity' | t }}">
              <button
                      class="add-to-cart-btn btn btn-primary"
                      type="submit"
                      name="add"
                      data-loading-text="{{ 'misc.loading' | t }}"
                      data-add-to-cart-text="{{ 'product.add_to_cart' | t }}"
                      data-view-cart-text="{{ 'product.view_cart' | t }}"
                      aria-controls="cart-toast-wrapper"
                      {%if current_variant.inventory_quantity <= 0 and current_variant.inventory_policy == 'deny' %}disabled{%endif%}>
                <div class="d-none bs-spinner spinner-border spinner-border-sm mr-1" role="status" aria-hidden="true"></div>
                <span>{%if current_variant.inventory_quantity <= 0 and current_variant.inventory_policy == 'deny' %}SOLD OUT{%else%}{{ 'product.add_to_cart' | t }}{%endif%}</span>
              </button>
            </div>
            {%if current_variant.inventory_quantity <= 0 and current_variant.inventory_policy == 'deny' %}
              <a class="btn btn-primary" style="display:block;margin-top:1em;max-width:280px;" id="BIS_trigger">JOIN WAITLIST</a>
            {%endif%}
            <div class="d-flex justify-content-center">
              {% capture the_snippet_fave %}{% render 'socialshopwave-widget-fave' %}{% endcapture %}
              {% unless the_snippet_fave contains 'Liquid error' %}
                {{ the_snippet_fave }}
              {% endunless %}  
            </div>
            <div class="d-flex justify-content-center">
              <span style="display: block; margin-top: 1em;" class="drophint-link"></span>
            </div>
            
          </div>
        
        {% endform %}
        
        {% if section.settings.holidayMsg != blank %}
          <p><a href="{{section.settings.holidayUrl}}" style="color:{{section.settings.holidaym-clr}}">{{section.settings.holidayMsg}}</a></p>
        {% endif %}
      </div>
    </div>
  </div>
  
  <div class="section-block">
    <div class="row">
      <div class="col-md-12">
        <div>
          <h6>Gift arriving late? We've got you covered!<br>  Print our 
            <a href="https://cdn.shopify.com/s/files/1/2283/3973/files/LolaJames-Missing.pdf?v=1628702035" target="blank" style="background-color:#ffe6f1;">"Something special"
            </a> 
            card to let your recipient know that their Lola James gift is on its way! 
          <h6> 
        </div>
        <br>
        <div class="rte">         
          {% include 'product-accordian' %}
        </div>

        {% if section.settings.show_share_buttons %}
          <hr class="mt-5">
          {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: featured_image %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
<script>
window.addEventListener('DOMContentLoaded',function(){
  $('.single-option-selector').change (function() {
    $(this).find('option').attr('selected',false);
    $(this).find('option:selected').attr("selected", true);
    var selected = '';
    var length =  $('.single-option-selector').length;
    $('.single-option-selector').each(function(i) {
      if (i === length - 1) {
    selected +=  $(this).find('option:selected').text();
      }
      else {
        selected +=  $(this).find('option:selected').text() + ' / ';
      
      }
    });
     $('#product-page-variant-select option').each(function(i) {
        $(this).attr('selected',false);
        var getText = $(this).text();
       if (selected === getText) {
         $(this).attr('selected',true);
        var available = $(this).attr('data-available');
         if (available === 'false') {
          alert('This item is out of stock. Please make another selection');
          $('.add-to-cart-btn').text('SOLD OUT');
          $('.add-to-cart-btn').prop('disabled',true);
           var selectedVariant = $('select[name="id"] option:selected').attr('value');
           console.log($('#BIS_trigger').length);
           if ($('#BIS_trigger').length > 0) {
             $('#BIS_trigger').remove();
              console.log('BIS already exist');
           }
           else {
                          console.log('I am trying to append');
             $('<a data-variant-id="'+selectedVariant+'" class="btn btn-primary" style="display:block;margin-top:1em;max-width:280px;" id="BIS_trigger">JOIN WAITLIST</a>').insertAfter($('.add-to-cart-button-wrapper'));
           }
         }
         else {
           $('#BIS_trigger').remove();
                     $('.add-to-cart-btn').text('ADD TO CART');
          $('.add-to-cart-btn').prop('disabled',false);
           
         }
       }
       else {
      //  console.log('Value not found'); 
       }
  });
      
    });
  });                             
</script>
{% stylesheet %}
#custCarousel .carousel-indicators {
    position: static;
    margin-top: 20px
}

#custCarousel .carousel-indicators>li {
    width: 100px
}

#custCarousel .carousel-indicators li img {
    display: block;
}


{% endstylesheet %}


{% schema %}
  {
    "name": "Product pages",
	"tag": "div",
"class": "section",
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "checkbox",
        "id": "container",
        "label": "Wrap in container",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_discount_badge",
        "label": "Show discount badge",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show vendor",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
      {
        "type": "header",
        "content": "Product image settings"
      },
      {
        "type": "text",
        "id": "image_width",
        "label": "Image width (px)",
        "default": "600"
      },
      {
        "type": "text",
        "id": "image_height",
        "label": "Image height (px)",
        "default": "600"
      },
      {
        "type": "text",
        "id": "gallery_image_width",
        "label": "Gallery image width (px)",
        "default": "120"
      },
      {
        "type": "text",
        "id": "gallery_image_height",
        "label": "Gallery image height (px)",
        "default": "120"
      },
      {
        "type": "range",
        "id": "gallery_row_cols",
        "min": 0,
        "max": 12,
        "step": 1,
        "label": "Gallery items per row",
        "info": "Note: Set to 0 to disable row constriction.",
        "default": 4
      },
      {
        "type": "select",
        "id": "images_alignment",
        "label": "Images Alignment",
        "info": "Note: On mobile view images will always be on top and content on bottom",
        "default": "flex-row",
        "options": [
          {
            "value": "flex-row", "label": "Left"
          },
          {
            "value": "flex-row-reverse", "label": "Right"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "image_border",
        "label": "Border",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "image_circle",
        "label": "Circle",
        "default": false
      },
      {
        "type": "select",
        "id":  "image_hover_effect",
        "label": "Hover effect",
        "default": "image-hover-shine",
        "options": [
          {
            "value": "image-hover", "label": "No effect"
          },
          {
            "value": "image-hover-fade-in", "label": "Fade in"
          },
          {
            "value": "image-hover-fade-out", "label": "Fade out"
          },
          {
            "value": "image-hover-scale-in", "label": "Scale in"
          },
          {
            "value": "image-hover-scale-out", "label": "Scale out"
          },
          {
            "value": "image-hover-flashing", "label": "Flashing"
          },
          {
            "value": "image-hover-shine", "label": "Shine"
          }
        ]
      },
      {
        "type": "header",
        "content": "Modal gallery settings"
      },
      {
        "type": "select",
        "id":  "modal_transition",
        "label": "Opening transition effect",
        "default": "fade zoom-in",
        "options": [
          {
            "value": "fade", "label": "Fade/Translate"
          },
          {
            "value": "fade zoom-in", "label": "Fade/Zoom-in"
          },
          {
            "value": "fade zoom-out", "label": "Fade/Zoom-out"
          },
          {
            "value": "", "label": "No effect"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "modal_center",
        "label": "Center modal",
        "default": true
      },
      {
        "type": "text",
        "id": "modal_image_width",
        "label": "Modal image width (px)",
        "default": "2048"
      },
      {
        "type": "text",
        "id": "modal_image_height",
        "label": "Modal image height (px)",
        "default": "2048"
      },
      {
        "type": "select",
        "id":  "modal_carousel_transition",
        "label": "Carousel transition effect",
        "default": "slide",
        "options": [
          {
            "value": "slide", "label": "Slide"
          },
          {
            "value": "slide carousel-fade", "label": "Fade"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "modal_carousel_show_caption",
        "label": "Show carousel captions",
        "info": "Based from image 'alt' text",
        "default": true
      },
      {
        "type": "range",
        "id": "interval",
        "min": 0,
        "max": 20,
        "step": 1,
        "unit": "sec",
        "label": "Carousel autoplay time",
        "default": 5,
        "info": "Select '0' to disable autoplay"
      },
      {
        "type": "header",
        "content": "Advanced settings"
      },
      {
        "type": "select",
        "id":  "breakpoint",
        "label": "Responsive breakpoint",
        "info": "Define at what screen size the layout should switch from row to column. [Learn more](https://getbootstrap.com/docs/4.5/layout/overview/#responsive-breakpoints)",
        "default": "-md",
        "options": [
          {
            "value": "", "label": "No breakpoint"
          },
          {
            "value": "-sm", "label": "Small screens (sm)"
          },
          {
            "value": "-md", "label": "Medium screens (md)"
          },
          {
            "value": "-lg", "label": "Large screens (lg)"
          },
          {
            "value": "-xl", "label": "Extra-large screens (xl)"
          }
        ]
      },
      {
        "type": "header",
        "content": "Holiday Guideline"
      },
      {
        "type": "textarea",
        "id": "holidayMsg",
        "label": "Message "
      },
      {
        "type": "url",
        "id": "holidayUrl",
        "label": "Page Link"
      },
      {
        "type": "color",
        "id": "holidaym-clr",
        "label": "Color",
        "default": "#333"
      }
    ],
  "blocks": [
  {
    "type": "descriptions",
    "name": "Description",
    "limit": 1,
    "settings": [
      { 
      "type":"text",
      "id":"title",
      "label":"Title",
      "default":"Product Details"
      }
    ]
  },
  {
    "type": "review",
    "name": "Review",
    "limit": 1,
    "settings": [
      { 
      "type":"text",
      "id":"title",
      "label":"Title",
      "default":"Reviews"
      }
    ]
  },
  {
    "type": "custom",
    "name": "Global Text Block",
    "limit": 5,
    "settings": [
      { 
      "type":"text",
      "id":"title",
      "label":"Title",
      "default":"Custom Text"
      },
      {
      "type": "textarea",
      "id": "content",
      "label": "Content"
      }
    ]
  },
  {
    "type": "metafields",
    "name": "Metafields Data",
    "settings": [
      { 
      "type":"text",
      "id":"title",
      "label":"Title",
      "default":"Metafields"
      },
      {
      "type": "text",
      "id": "key",
      "label": "Key Name"
      },
      {
      "type": "textarea",
      "id": "content",
      "label": "Content",
	  "info": "Use globle text here. Add content by metafeild when need to show different details to product."
      }
    ]
  }
 ]
  }
{% endschema %}